<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">

<!-- wp:pattern {"slug":"gpg-page-hero"} /-->

<!-- wp:group {"className":"gpg-dienst-nav","layout":{"type":"constrained","contentSize":"1400px"}} -->
<div class="wp-block-group gpg-dienst-nav">
<!-- wp:html -->
<nav>
  <a href="#huismeesterdiensten" class="gsa-hoek-sm">Huismeesterdiensten</a>
  <a href="#verhuizen" class="gsa-hoek-sm">Verhuizen</a>
  <a href="#integrated-facilities" class="gsa-hoek-sm">Integrated Facilities</a>
  <a href="#fitouts" class="gsa-hoek-sm">Fit-out's</a>
  <a href="#inkoop" class="gsa-hoek-sm">Inkoop</a>
  <a href="#stoffering" class="gsa-hoek-sm">Stoffering</a>
</nav>
<!-- /wp:html -->
</div>
<!-- /wp:group -->

<!-- wp:post-content {"layout":{"type":"constrained","contentSize":"1400px"}} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
